table {
      width: 80%;
      border-collapse: collapse;
      margin: 20px auto;
    }

    th, td {
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #a06eef;
      color: white
    }

    a {
      text-decoration: none;
      color: #007BFF;
      font-weight: bold;
    }

    a:hover {
      text-decoration: underline;
      color:rgb(88,78,141);
    }

body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      text-align: center;
      margin: 0;
      padding: 0;
    }

    #imageEditor {
      margin: 50px auto;
      width: 1000px;
      background-color: #fff;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    canvas {
      display: block;
      margin: 20px auto;
      border: 1px solid #ddd;
    }
button12{
    color: white;
    background: rgb(165 99 215);
    padding: 10px;
    border: none;
    margin-top: 10px;
      }

ip{
    padding: 10px;
    /* border: black; */
    border-radius: 1000px;
  }
